blinker
AutoRAG[gpu]
smac
ConfigSpace
ragas
wandb
huggingface-hub
optuna
plotly
FlagEmbedding
onnxruntime
optimum[openvino,nncf]
optuna-integration[wandb]
vllm
spacy[transformers]
python-dotenv
matplotlib
pandas
numpy
scipy
kaleido
Pillow